*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    min-height: 100vh;
  
}


h2{
  font-size: 40px;
}


@media only screen and (orientation: portrait){
  *{
    letter-spacing: 1px;
  }
}
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

/*[ RESTYLE TAG ]*/
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}


/*[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
    text-align: center;
  }

  .row.header .cell {
    display: none;
    text-align: center;
  }

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 18px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row .cell:nth-child(1) {
  width: 170px;
  padding-left: 40px;
  align-items: center;
}

.row .cell:nth-child(2) {
  width: 192px;
  text-align: center;
}

.row .cell:nth-child(3) {
  width: 192px;
  text-align: center;
}

.row .cell:nth-child(4) {
  width: 192px;
  align-items: center;
}
.row .cell:nth-child(5) {
   width: 192px;
   padding-right: 40px;
   align-items: center;
}

.table, .row {
  width: 100% ;
}

.row:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
  
  .row .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
  }

  .table, .row, .cell {
    padding-right: 40px;
  }
}


